@model JackMaiMa.Models.Customer

@{
    string header = "ลบลูกค้า";
    ViewBag.Title = header;
}

<h3>@header</h3>
<hr />
@if (ViewBag.IsRelateOrder != null)
{
    <br />
    <h4>ไม่สามารถลบลูกค้า : <span style="color:red">@Model.Name</span> ได้ เพราะลูกค้านี้มีการผูกข้อมูลกับ 'Order'</h4>
    <br />
    <br />
    <p>
        @Html.ActionLink("รายละเอียด", "Details", new { id = Model.Id }, new { @class = "btn btn-default" })
        @Html.ActionLink("กลับสู่หน้ารายชื่อ", "Index", null, new { @class = "btn btn-default" })
    </p>
}
else
{
    <h4>ยืนยันที่จะลบ?</h4>
    <div>
        @Html.Partial("_CustomerDetail", Model)

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="ลบ" class="btn btn-primary" />
                @Html.ActionLink("กลับสู่หน้ารายชื่อ", "Index", null, new { @class = "btn btn-default" })
            </div>
        }
    </div>
}